/* body{
    font-family: 'Montserrat', sans-serif;
} */
.btn{
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-family: 'Montserrat-Black';
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bold;
}
h2{
    font-family: 'Ubuntu', sans-serif;
    /* line-height:; */
    font-size: 3.5em;
    color: #fff;
    font-weight: bold;
}
        /* tital */
#tital{
    background-color: #ff4c64;
    color:#fff;
    
}
.container-fluid{
    padding: 3% 10%;
}
.navbar{
    padding-bottom: 3%;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link{
    padding:5px;
    font-family: "Montserrat";
}
.download-button{
    margin: 5% 0;
}
.tital-img{
    width: 60%;
    transform: rotate(25deg);
}

            /*Feacher  */

#feacher{
    /* width: 60%; */
    padding: 5% 20%;
    text-align: center;
    align-items: center;

}
.feacher-tital{
    /* font-size: 2rem; */
    font-weight: bold;
}
.feacher-paragraph{
    color:#8f8f8f;
}
.icon{
        color:#ef8172;
    padding-bottom: 1.5rem;
}
.icon:hover{
    color:lightpink;
}


    /* Testimonials */

.test-img{
    /* height: 10%; */
    width: 15%;
    border-radius:360px;
    
    text-align: center;
}    
#testimonials{
    background-color:#ef8172;
    text-align: center;
    padding: 7% 15%;
    color:#fff ;   
}

#press{
    background-color:#ef8172;
    text-align: center; 
}
.press-img{
    width: 15%;
    
    margin: 2% 2%;
    /* margin: 15% 30%; */
    /* padding: 5% 30%; */
}